*{box-sizing: border-box}
header {
    width: 100%;
    position: relative;
    position: fixed;
    top:0;
    z-index: 10;
}

.container {
    position: relative;
    width: auto;
    top:0;
    height: 85px;
  
    background-color:#ace2ff;
}

.header-left {

    float: left;
    padding: 3px 30px;
}

.header-right {

    float:right;
    padding:35px 30px
}
    

.header-wrapper img{
    opacity: 0.5; 
}

.header-wrapper p{
    position: absolute;
    font-size: 100px;
    -ms-transform: translate(50%,-10%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(30%,-200%);
    margin:0;
    padding:0;
    color:rgba(173, 224, 171, 1.0);
}

.header-wrapper img{
    width: 100%;
    
}

.header-wrapper{
    margin-top: 90px;
}

.header h1 {
    font-family: Avenia Next;
    font-size: 60px;
    color:floralwhite;
    padding: 100px 250px;
}

.header h3 {
    font-size: 30px;
    color: blue;
}
.width-size{
    padding: 0px 200px 0px 200px;
}
.main {
margin: 50px;

}
.btn{
    border: 1px solid #000000;
}

.senter{
    text-align: center;
    border-top: 5px solid #dee7ec;
    border-bottom: 5px solid #dee7ec;
}

.image {
    float:right;
    padding:40px 0px 0px 40px;
}

.contact-form ul{
    padding: 0px 200px 0px 200px;
}
.section-title{
    text-align: center;
    border-top:5px solid #dee7ec; 
    border-bottom:5px solid #dee7ec; 
    margin-left: 5px;
}

.mail-address{
    width:300px;
}

.contact-detail{
    width: 400px;
    height:100px;
}

input {
    transition: all 0.5s;
}

input:hover {
    background-color:aquamarine;
}

.footer{
      background-color:#ace2ff;
      height:100px;
}

.footer-logo{
    font-size:40px;
    opacity: 0.7;
    float:left;
    padding:20px 0px 0px 500px;
}

.footer-list li {
    float:right;
    padding-top: 40px;
    padding-right: 20px;
}
